---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import MobileHeader from "../components/MobileHeader.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import CursorSpotlight from "../components/CursorSpotlight.astro";
import ConsoleEasterEgg from "../components/ConsoleEasterEgg.astro";
import { en as t } from "../i18n/en";
---

<Layout title={t.meta.title} description={t.meta.description} lang="en">
  <CursorSpotlight />
  <ConsoleEasterEgg />

  <MobileHeader t={t} />
  <Sidebar t={t} />

  <main id="main-content" class="main-content min-h-screen">
    <About t={t} />
    <Experience t={t} />
    <Projects t={t} />
    <Skills t={t} />
    <Contact t={t} />
  </main>
</Layout>
