---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Experience from '../components/Experience.astro'
import Skills from '../components/Skills.astro'
import Contact from '../components/Contact.astro'
import { en as t } from '../i18n/en'
---

<Layout title={t.meta.title} description={t.meta.description} lang="en">
  <Header t={t} />
  <main>
    <Hero t={t} />
    <About t={t} />
    <Experience t={t} />
    <Skills t={t} />
    <Contact t={t} />
  </main>
</Layout>
